.swiper-pagination-bullet {
  opacity: 1;
  width: 14px;
  height: 14px;
  background-color: #fcbaec;
}

.swiper-pagination-bullet-active {
  background-color: #090170;
}

@media all and (max-width: 1024px) {
  .swiper-pagination-bullet {
    width: 10px;
    height: 10px;
  }
}